@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  background-color: #040720;
  color: #F7F8FF;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F7F8FF;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: .5em 0;
  background-color: #005172;
  z-index: 3;
  font-size: 20px;
  font-weight: 400;
  color: #F7F8FF;
}

nav > a {
  display: inline-block;
  position: relative;
  padding: .2em 0;
  margin: 0 1em;
}

nav > a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F7F8FF;
  transform-origin: bottom right;
  transition: transform .25s ease-in-out;
}

nav > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 700px) {
  #navbar {
    display: block;
    /* justify-content: space-around; */
  }
  nav > a {
    margin: 0.5rem;
  }
}

#welcome-section {
  height: 100vh;
  margin-top: 30px;
  overflow: hidden;
}

#bg-image {
  height: 105vh;
  background-image: url("../Images/Welcome_Background_Img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040720;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  margin: -5px;
}

#welcome-text {
  color: #F7F8FF;
  width: 90%;
  font-weight: 700;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome-text > h1 {
  font-size: 65px;
  margin-bottom: -2rem;
}

#welcome-text > p {
  font-size: 30px;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 2em;
}

#profile {
  border: 2px solid #005172;
  border-radius: 10px;
  width: 80%;
  margin: 2em auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1em;
  overflow: hidden;
}

#profile > img {
  border-radius: 15px;
}

#profile-text {
  padding: 0 1em;
  text-align: center;
}

#profile-text > p {
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 1023px) {
  #profile {
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  #profile > img {
    width: 100%;
  }
}

#projects {
  border: 2px solid #005172;
  border-radius: 10px;
  width: 80%;
  margin: 2em auto;
  padding: 0 1em 1em 1em;
  text-align: center;
}

#project-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-gap: 1em;
  font-size: 20px;
}

#project-links img {
  height: 325px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-tile {
  border: 2px solid #005172;
  border-radius: 10px;
  padding: .2em;
  transition: transform .3s;
}

.project-tile > a {
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
}

.project-tile > a:hover {
  color: #3097c0;
}

.project-tile > a > img {
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.project-tile > a > img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@media (max-width: 830px) {
  #project-links {
    grid-template-columns: 1fr;
  }
}

#contact {
  border: 2px solid #005172;
  border-radius: 10px;
  width: 80%;
  margin: 2em auto;
  padding: 0 1em 1em 1em;
  text-align: center;
  font-size: 20px;
}

#contact > p {
  width: 80%;
  margin: -1rem auto 2rem;
}

/* #contact-form {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "name email"
    "message message"
    "send send";
  grid-gap: 1rem;
  
}

#name {
  grid-area: name;
  height: 40px;
  padding-left: 1rem;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 0.3rem 0.3rem #dde0f6;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

#email {
  grid-area: email;
  height: 40px;
  padding-left: 1rem;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 0.3rem 0.3rem #dde0f6;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

#message {
  grid-area: message;
  height: 200px;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 0.3rem 0.3rem #dde0f6;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

#send-message {
  grid-area: send;
  height: 50px;
  margin: auto auto 1rem;
  border: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 0.5rem 0.5rem #01374d;
  width: 25%;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  background-color: #005172;
  color: #F7F8FF;
  cursor: pointer;
}

#send-message:hover {
  background-color: #10759e;
}

@media (max-width: 1024px) {
  #send-message {
    width: 50%;
  }
}

@media (max-width: 750px) {
  #contact-form {
    grid-template-columns: auto;
    grid-template-areas: 
      "name"
      "email"
      "message"
      "send";
  }
} */

.social-link {
  display: inline-block;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -o-transition: transform .3s;
}

.social-link > img {
  height: 50px;
  margin: 20px;
}

.social-link:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

footer {
  background-color: #005172;
  bottom: 0;
  display: flex;
  justify-content: end;
  padding-right: .75em;
}

@media (max-width: 480px) {
  footer {
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  nav > a {
    display: none;
  }

  #navbar {
    display: none;
  }

  #navbar.drawer-open {
    display: block;
    flex: 1;
    background: #005172;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 4rem;
  }

  #burger-button {
    display: block;
    text-decoration: none;
    z-index: 100;
    height: 1.5rem;
    width: 2rem;
    margin: -1rem 1rem;
    border: none;
    background: linear-gradient(
      to bottom,
      white,
      white 20%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 40%,
      white 40%,
      white 60%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 80%,
      white 80%,
      white 100%
    );
  }

  .position-absolute {
    position: absolute;
  }

  .position-fixed {
    position: fixed;
  }

  #navbar.drawer-open > a {
    display: block;
  }
}
