body {
    font-family: Effra, sans-serif;
    font-weight: 300;
    background-color: #040720;
    color: #F7F8FF;
    margin: 0;
    text-align: center;
    border: 2px solid #005172;
    border-radius: 1%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 20px;
}

#subscript {
    margin-top: -1rem;
}

#message {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.profile-link > img {
    height: 50px;
    margin: 20px;
}

#return {
    margin-top: 0rem;
    font-size: 17px;
}

#return > a {
    color: #005172;
}

#return > a::after {
    color: #005172;
}